<mat-toolbar>
    <button mat-icon-button>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>

      </button>


    <span>LIBRARY</span>

    

    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon shopping_cart-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <button mat-icon-button class="example-icon person" aria-label="Example icon-button with share icon">
      <mat-icon>person</mat-icon>
    </button>
  </mat-toolbar>



<p>In App Component I use only <strong>Home Component</strong>.</p>
<app-home></app-home>

